@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

body {
           /* background-color: #5893D4;  Ajuste a cor conforme necessário*/
               /*background-color: #1c2f85de;*/
               background: linear-gradient(to right,#4636FC,#13bfee,#050C9C, #A7E6FF);
               background-size: 200% 200%;
               animation:   float 6s linear infinite alternate;

}

        h2{

            font-size: 2rem;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        }

        .profile-card {
            max-width: 450px;
            margin: auto;
            padding: 20px;
            text-align: center;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 0 100px #007bff;
        }
        .profile-card img {
            max-width: 150px;
            border-radius: 70%;
            box-shadow: 0 0 10px #007bff;
            margin-bottom: 20px;
            margin-top: -40px;

           
        }
        .profile-card .btn {
            width: 90%;
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: justify-all;
            font-size: 20px;
            padding-bottom:10 px;
            border-radius: 70px;
            box-shadow: 5px 5px #1471cf52;
            border: 2px solid #dee2e6!important;
            /*border-color: black !important;*/
            justify-content: flex-start;
            background: linear-gradient(to right,#13bfee,#4636FC);
            
        }

        .footer{
            position: absolute;
            bottom: 10px;
        }

        .profile-card .btn:hover{
            transform: scale(1.05);
        }




        .rounded-circle{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            }

        
        .tiny5-regular {
         font-family: "Trispace", sans-serif;
          font-optical-sizing: auto;
          font-weight: <weight>;
          font-style: normal;
          font-variation-settings:
            "wdth" 100;
        }


        #typing-effect {
        position: relative;
        }

        #typing-effect::after {
          content: "";
          position: absolute;
          top: 0;
          right: 10px;
          width: 2px;
          height: 50%;
          animation: blink 1s;
        }

        @keyframes blink {
            0% {
              opacity: 1;
            }
            50% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }

        @keyframes  float   {
            from {background-position: 0 0 ;}
            to {background-position: 100% 100%;}
        }

@media (max-width: 576px) {
    .profile-card {
            max-width: 350px;
            margin-trim: 5px;
            padding: 10px;
            text-align: center;
            background-color: #f8f9fa;
            border-radius: 10px;
            box-shadow: 0 0 100px #007bff;
        }
        h2{

            font-size: 20px;
            font-family: "Orbitron", sans-serif;
            font-optical-sizing: auto;
            font-weight: <weight>;
            font-style: normal;
        }

}